h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}
