:root {
  --main-text-color: #212121;
  --title-text-color: #ffffff;
  --secondary-text-color: #757575;
  --small-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --main-background-color: #2f303a;
  --icons-light-color: #afb1b8;
  --light-background-color: #f5f4fa;
  --main-font: "roboto", "verdana", sans-serif;
  --typical-margin: 94px;
  --buttons-background-color: var(--light-background-color);
}
